* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Parkinsans:wght@300..800&display=swap");

body {
  font-family: "Bebas Neue";
  overflow-x: hidden;
}

nav {
  background-color: black;
  width: 60%;
  height: 60px;
  margin: 20px auto;
  border-radius: 80px;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

ul {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  color: yellow;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  nav {
    width: 80%;
  }
  ul li {
    font-size: 15px;
  }
}

.container {
  /* background-color: red;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden; */
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.projects {
  /* background-color: green;
  width: 100%; 
  height: 100%; */
  display: flex;
  height: 100%;
  width: 100%;
}

.project {
  flex: 0 0 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 2rem;
  color: #333;
}
.project a {
  display: inline-grid;
  overflow: hidden;
  margin: 30px;
  background: #000;
  padding: 15px 30px;
  border-radius: 80px;
  text-decoration: none;
  color: yellow;
  transition: all 0.3s ease;
}
.project a:hover {
  padding: 15px 70px;
}
.project a svg {
  font-size: 20px;
  margin-left: 10px;
}
#project-1 {
  background-image: url(./image/spidy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-2 {
  background-image: url(./image/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h2 {
  background: rgba(132, 105, 105, 0.454);
  backdrop-filter: blur(20px);
}
